sensorSimulation/simulation.json
[{"id":"69fa63fa.a0bb9c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4f74b86b.bd1168","type":"inject","z":"69fa63fa.a0bb9c","name":"temperature","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["80209e7d.ca9f7"]]},{"id":"7da436b6.d858a8","type":"inject","z":"69fa63fa.a0bb9c","name":"humidity","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["80209e7d.ca9f7"]]},{"id":"704c4685.c95608","type":"inject","z":"69fa63fa.a0bb9c","name":"CO2","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["80209e7d.ca9f7"]]},{"id":"cec9e786.7458c8","type":"inject","z":"69fa63fa.a0bb9c","name":"Oxygen","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["80209e7d.ca9f7"]]},{"id":"80209e7d.ca9f7","type":"file in","z":"69fa63fa.a0bb9c","name":"feeding data","filename":"D:\\YeetEggPlant.csv\\","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":180,"wires":[["a205d7da.370d08"]]},{"id":"a205d7da.370d08","type":"csv","z":"69fa63fa.a0bb9c","name":"converting to csv","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":590,"y":180,"wires":[["7bbfecb3.b9a864"]]},{"id":"7bbfecb3.b9a864","type":"switch","z":"69fa63fa.a0bb9c","name":"Feed_Model","property":"payload.temperature","propertyType":"msg","rules":[{"t":"eq","v":"60","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":420,"wires":[["8190ab6a.0c2fe8","62f8f6d8.fb8bf8"]]},{"id":"4ee9bd2f.58eb44","type":"debug","z":"69fa63fa.a0bb9c","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":480,"wires":[]},{"id":"8190ab6a.0c2fe8","type":"function","z":"69fa63fa.a0bb9c","name":"ML model","func":"p = msg.payload;\na = Math.random() * (60 - 40) + 40;\nb = Math.random() * (90 - 80) + 80;\nc = p.top_ice_accepted;\nd = p.water_sprinkle_accepted;\ne = Math.random() * (10 - 0) + 0;\nf = Math.random() * (9999999 - 0) + 0;\ng = Math.random() * (10000000 - 50000) + 50000;\na = (a-5.33609693e+01)/3.58491385e+00;\nb = (b-8.61904389e+01)/3.89319316e+00;\nc = (c-2.37500000e-01)/4.25995090e-01;\nd = (d-2.37500000e-01)/4.25995090e-01;\ne = (e-3.28684258e+00)/2.30254320e+00;\nf = (f-1.41847824e+06)/2.08273151e+06;\ng = (g-4.56989201e+05)/2.95979252e+05;\n\nres = a*0.97649497-b*0.31520775-c*0.41074607+d*0.5581406+e*0.58987254-f*0.22080612+g*0.91748255;\nres += 0.12715556;\nmsg.payload = Math.abs(res);\nvar newMsg = { payload: msg.payload , date:\"expiery date\"};\n\n\nreturn [newMsg];","outputs":1,"noerr":0,"x":440,"y":480,"wires":[["4ee9bd2f.58eb44"]]},{"id":"8f471880.ed8b98","type":"inject","z":"69fa63fa.a0bb9c","name":"ethelene","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":200,"wires":[["80209e7d.ca9f7"]]},{"id":"62f8f6d8.fb8bf8","type":"function","z":"69fa63fa.a0bb9c","name":"ethelene_predictor","func":"p = msg.payload;\na = Math.random() * (60 - 40) + 40;\nb = Math.random() * (90 - 80) + 80;\nc = p.top_ice_accepted ;\nd = p.water_sprinkle_accepted;\nf = Math.random() * (9999999 - 0) + 0;\ng = Math.random() * (1000000 - 50000) + 50000;\na = (a-5.33609693e+01)/3.58491385e+00;\nb = (b-8.61904389e+01)/3.89319316e+00;\nc = (c-2.37500000e-01)/4.25995090e-01;\nd = (d-2.37500000e-01)/4.25995090e-01;\nf = (f-1.418478e+06)/2.082732e+06;\ng = (g-4.569892e+05)/2.959793e+05;\nh = Math.random() * (11 - 0) + 0;\nres = a*0.31813923-b*0.02297759+c*0.5011983+d*1.4908899+f*1.0614247-g*0.07461797;\nres += 0.6727442;\n\nif(h<res){\n    var msg5 = {payload:\"ventilation system on\" };\n}\nelse {\n     var msg5 = {payload:\"ventilation system off\" };\n}\n\nmsg.payload = msg5;\nreturn msg;\n","outputs":1,"noerr":0,"x":470,"y":340,"wires":[["b481cab2.c82288"]]},{"id":"b481cab2.c82288","type":"debug","z":"69fa63fa.a0bb9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":340,"wires":[]}]